<div class="blank-layout-container">
  <div
    class="position-relative row w-100 h-100 align-items-center justify-content-center"
  >
    <div class="col-lg-4 p-0 col-sm-8">
      <div
        class="py-5 d-flex align-items-start align-items-lg-center justify-content-center h-100 bg-body-secondary rounded"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <div class="mb-4 align-items-center d-flex flex-column">
              <h3 class="f-w-700 f-s-24 m-0">Change password</h3>
            </div>

            <form
              class="m-t-30 needs-validation"
              [formGroup]="form"
              (ngSubmit)="submit()"
            >
              <div class="mb-4">
                <label for="newPassword" class="form-label">New password</label>
                <input
                  type="newPassword"
                  class="form-control"
                  id="newPassword"
                  formControlName="newPassword"
                  required
                  minlength="6"
                />
                <div class="text-danger">
                  @if (form.controls['newPassword'].touched &&
                  form.controls['newPassword'].errors?.['required']){
                  <span class="">This is required</span>
                  } @else if(form.controls['newPassword'].errors?.['minlength']){
                  <span class="">Min char 6 required</span>
                  }
                </div>
              </div>
              <div class="mb-4">
                <label for="confirmPassword" class="form-label"
                  >Confirm password</label
                >
                <input
                  type="confirmPassword"
                  class="form-control"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  required
                  minlength="6"
                />
                <div class="text-danger">
                  @if (form.controls['confirmPassword'].touched &&
                  form.controls['confirmPassword'].errors?.['required']){
                  <span class="">This is required</span>
                  } @else if(form.controls['confirmPassword'].errors?.['minlength']){
                  <span class="">Min char 6 required</span>
                  }
                </div>
              </div>

              <div class="float-end mb-4">
                <a href="" [routerLink]="['/auth/login']">
                  <i class="bi bi-arrow-left" style="margin-right: 4px"></i>Back
                  to sign in
                </a>
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="!form.valid"
              >
                Change password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
