.blank-layout-container {
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  position: relative;
}
.blank-layout-container::before {
  content: " ";
  position: absolute;
  top: -130px;
  left: -130px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: linear-gradient(#afe3ff, #ecf2ff);
}

.image-container {
  padding: 12px 24px;
}
a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .blank-layout-container::before {
    top: -150px;
    left: -150px;
    width: 450px;
    height: 450px;
  }
}
