<div class="blank-layout-container">
  <div
    class="position-relative row w-100 h-100 align-items-center justify-content-center"
  >
    <div class="col-lg-7 p-0 d-sm-none d-lg-block">
      <div class="image-container h-100">
        <div
          class="align-items-center justify-content-center img-height d-lg-flex"
        >
          <img
            src="/assets/images/authentication.svg"
            alt="login"
            class="logo"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 p-0 col-sm-6">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <div class="mb-4 align-items-center d-flex flex-column">
              <h3 class="f-w-700 f-s-24 m-0">Forgot your password?</h3>
              <span class="f-s-14 d-block mat-body-1 m-t-8"
                >Enter your user account's verified email address and we will
                send you a password reset link.</span
              >
            </div>

            <form
              class="m-t-30 needs-validation"
              [formGroup]="form"
              (ngSubmit)="submit()"
            >
              <div class="mb-4">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  required
                  minlength="6"
                />
                <div class="text-danger">
                  @if (form.controls['email'].touched &&
                  form.controls['email'].errors?.['required']){
                  <span class="">This is required</span>
                  } @else if(form.controls['email'].errors?.['minlength']){
                  <span class="">Min char 6 required</span>
                  }
                </div>
              </div>

              <div class="float-end mb-4">
                <a href="" [routerLink]="['/auth/login']">
                  <i class="bi bi-arrow-left" style="margin-right: 4px"></i>Back
                  to sign in
                </a>
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="!form.valid"
              >
                Send email
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
